{% set buttonClass = config('FlinkQuickView.config.buttonClass') %}
{% set buttonExtraClasses = config('FlinkQuickView.config.buttonExtraClasses') %}

<button class="btn {{ buttonClass }} {{ buttonExtraClasses }} flink-quickview-btn flink-quickview-btn__{{ config('FlinkQuickView.config.buttonPosition') }}"
        data-toggle="modal"
        data-url="{{ path('widgets.quickview.minimal', { 'productId': id }) }}"
        data-modal-class="quickview">
    {{ "flink.quick_view.quickview"|trans|sw_sanitize }}
</button>
