{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}


{% block buy_widget_rich_snippets %}
    {% if config('DmitsProductPopup.config.showButtonProductPageTop') and app.request.get('quickview') %}


        <a class="{{config('DmitsProductPopup.config.showButtonProductPageClass')}}" href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}">
            {{ "dmits.productpopup.productpagelink.title"|trans }}
        </a>
    {% endif %}


    {{ parent() }}
{% endblock %}
{% block buy_widget_reviews %}
    {% if app.request.get('quickview') %}
        {% set remoteClickOptions = {
            selector: "#review-tab-" ~ product.id,
            scrollToElement: false
        } %}
    {% endif %}
    {{ parent() }}
{% endblock %}



{% block buy_widget_ordernumber_container  %}

    {{ parent() }}
    {% if config('DmitsProductPopup.config.showButtonProductPageBottom') and app.request.get('quickview') %}

        <a class="{{config('DmitsProductPopup.config.showButtonProductPageClass')}}" href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}">
            {{ "dmits.productpopup.productpagelink.title"|trans }}
        </a>
    {% endif %}
{% endblock %}
