{% sw_extends '@Storefront/storefront/component/product/quickview/minimal.html.twig' %}
{% block component_product_quickview_minimal %}
    {% set name = page.product.translated.name %}
    {% set manufacturer = page.product.manufacturer %}
    {% if not sliderConfig %}
        {% set sliderConfig = element.fieldConfig.elements %}
    {% endif %}
    <div id="ICTECHQuickViewPopupWithPastPurchasedProduct" class="quickview-minimal-container" data-quick-view="true">
        {% block component_product_quickview_minimal_top %}
            {{ parent() }}
        {% endblock %}
        {% block component_product_quickview_minimal_footer %}
        {% endblock %}
    </div>
{% endblock %}

{% block component_product_quickview_minimal_product %}
    <div class="col-12 col-md-6 quickview-minimal-product">
        {% block component_product_quickview_minimal_product_name %}
            <p>{{ parent() }}</p>
        {% endblock %}

        {% block component_product_quickview_minimal_product_number %}
        {% endblock %}

        {% block component_product_quickview_minimal_product_manufacturer %}
            <p>{{ parent() }}</p>
        {% endblock %}

        {% if page.product.translated.description %}
            <div class="quickview-minimal-footer">
                {% block component_product_quickview_minimal_footer_text %}
                    <h4>{{ "detail.tabsDescription"|trans|sw_sanitize }}</h4>
                    <p class="quickview-minimal-footer-description">
                        {% set descriptionLength = config('ICTECHQuickViewPopupWithPastPurchasedProduct.config.descriptionLength') %}
                        {% if descriptionLength == 0 %}
                            {{ page.product.translated.description | raw }}
                        {% else %}
                            {% set text = page.product.translated.description | striptags %}
                            {{ text|length > descriptionLength ? text|slice(0, descriptionLength+1)|split(' ')|slice(0, -1)|join(' ') ~ '…' : text }}
                        {% endif %}
                    </p>
                {% endblock %}
            </div>
        {% endif %}
        {% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' with {
            'ICTECHQuickViewPopupWithPastPurchasedProduct': true
        } %}
        <a href="{{ seoUrl('frontend.detail.page', {'productId': page.product.id}) }}">
            {{ 'See Full Details'|trans }}
        </a>
    </div>
    {% block slider_include %}
        <div class="product review-slider mt-2"
            {% sw_include '@ICTECHQuickViewPopupWithPastPurchasedProduct/storefront/element/cms-element-ictech-user-bought-products-slider.html.twig' with {
                'customerProduct': page.extensions.customerProducts
            } %}

            {% sw_include '@ICTECHQuickViewPopupWithPastPurchasedProduct/storefront/element/cms-element-ictech-products-review-slider.html.twig' with {
                'customerReview': page.extensions.customerReviewData
            } %}
       </div>
    {% endblock %}
{% endblock %}
