{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig'%}
{% block component_product_box_action_inner %}
    {{ parent() }}
{#    {{ dump(id) }}#}
{% block product_quickview_button %}
        {% if feature('v6.5.0.0') %}
            <div class="d-grid">
                <button class="btn btn-buy"
                        title="{{ "listing.boxAddProduct"|trans|striptags }}">
                    {{ "listing.boxAddProduct"|trans|sw_sanitize }}
                </button>
            </div>
        {% else %}
            <button class="btn btn-block btn-buy mt-2"
                    title="{{ "listing.boxAddProduct"|trans|striptags }}" data-bs-toggle="modal" data-toggle="modal" data-url="{{ seoUrl('frontend.detail.page', {'productId': id}) }}">
                    Quick View

            </button>
        {% endif %}
    {% endblock %}
{% endblock %}

